body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  max-width: 100vw;
}

a {
  color: #00B7FF;
}


#map {
  height: 500px;
  width: 100%;
  background-color: grey;
}

#mapCreate {
  height: 300px;
  width: 100%;
  background-color: grey;
}